.align {
  text-align: center;
  justify-content: center;
}

.flex-direct {
  flex-direction: column;
}

.price-table {
  padding: 0 40px;
}

mat-card {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  ul {
    padding: 10px 0;
    list-style: none;    
  }
}
