<section class="sky-bg section-padding">
  <div class="container">
    <div
      class="d-flex row align flex-direct justify-content-center text-color-wht"
    >
      <h2>Affordable Price</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
        voluptates, temporibus at, facere harum fugiat!
      </p>
    </div>
    <div class="d-flex row">
      <!-- <mat-card-content> -->
        <div class="col price-table">
            <mat-card class="d-flex">
                <h3>Basic</h3>
                <hr>
                <ul>
                    <li><strong>$ 20/</strong>Month</li>
                    <li>100 MB Disk Space</li>
                    <li>2 Subdomains</li>
                    <li>5 Email Accounts</li>
                    <li>Webmail Support</li>
                    <li>Customer Support 24/7</li>
                </ul>
                <hr>
                <button mat-raised-button color="accent">Purchase</button>
            </mat-card>
        </div>
        <div class="col price-table">
            <mat-card class="d-flex">
                <h3>Standard</h3>
                <hr>
                <ul>
                    <li><strong>$ 39/</strong>Month</li>
                    <li>100 MB Disk Space</li>
                    <li>2 Subdomains</li>
                    <li>5 Email Accounts</li>
                    <li>Webmail Support</li>
                    <li>Customer Support 24/7</li>
                </ul>
                <hr>
                <button mat-raised-button color="accent">Purchase</button>
            </mat-card>
        </div>
        <div class="col price-table">
            <mat-card class="d-flex">
                <h3>Unlimited</h3>
                <hr>
                <ul>
                    <li><strong>$ 59/</strong>Month</li>
                    <li>100 MB Disk Space</li>
                    <li>2 Subdomains</li>
                    <li>5 Email Accounts</li>
                    <li>Webmail Support</li>
                    <li>Customer Support 24/7</li>
                </ul>
                <hr>
                <button mat-raised-button color="accent">Purchase</button>
            </mat-card>
        </div>
      <!-- </mat-card-content> -->
    </div>
  </div>
</section>
