<section id="features-1" class="sky-bg">
  <div class="container">
    <div class="d-flex row">
      <div class="d-flex col align text-color-wht">
        <h2>Easy to build</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute
        </p>
        <button mat-raised-button color="accent" class="button-size">
          Read More
        </button>
      </div>
      <div class="row">
        <div class="col">
          <img src="/assets/images/asset2.webp" />
        </div>
        <div class="col">
          <img src="/assets/images/asset1.webp" />
        </div>
      </div>
    </div>
  </div>
</section>

<section id="features-2">
  <div class="container">
    <div class="d-flex row align features-text">
      <div class="d-flex col-5 align text-color-blk">
        <h3>SPECIAL FEATURES</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
          voluptates, temporibus at, facere harum fugiat!
        </p>
      </div>
    </div>
    <div class="d-flex row justify">
      <div class="box">
        <div class="box-icon">
          <img src="/assets/images/asset9.webp" />
        </div>
        <h3>Creative Design</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quas
          nulla est adipisci,
        </p>
      </div>
      <div class="box">
        <div class="box-icon">
          <img src="/assets/images/asset10.webp" />
        </div>
        <h3>Unlimited Features</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quas
          nulla est adipisci,
        </p>
      </div>
      <div class="box">
        <div class="box-icon">
          <img src="/assets/images/asset11.webp" />
        </div>
        <h3>Full Free Chat</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quas
          nulla est adipisci,
        </p>
      </div>
    </div>
    <div class="d-flex row justify">
      <div class="box">
        <div class="box-icon">
          <img src="/assets/images/asset12.webp" />
          <h3>Retina ready</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque
            quas nulla est adipisci,
          </p>
        </div>
      </div>
      <div class="box">
        <div class="box-icon">
          <img src="/assets/images/asset13.webp" />
          <h3>High Resolution</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque
            quas nulla est adipisci,
          </p>
        </div>
      </div>
      <div class="box">
        <div class="box-icon">
          <img src="/assets/images/asset14.webp" />
          <h3>Clean Codes</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque
            quas nulla est adipisci,
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
