<section id="service-images">
  <div class="d-flex container">
    <div class="service">
      <div class="box-icon">
        <img src="/assets/images/asset5.webp" />
      </div>
      <div class="">
        <h4>EASY TO USE</h4>
        <p>
          Lorem ipsum dolor sit amt, consectet adop adipisicing elit, sed do
          eiusmod tepo raraincididunt ugt labore.
        </p>
      </div>
    </div>
    <div class="service">
      <div class="box-icon">
        <img src="/assets/images/asset6.webp" />
      </div>
      <div class="">
        <h4>AWESOME DESIGN</h4>
        <p>
          Lorem ipsum dolor sit amt, consectet adop adipisicing elit, sed do
          eiusmod tepo raraincididunt ugt labore.
        </p>
      </div>
    </div>
    <div class="service">
      <div class="box-icon">
        <img src="/assets/images/asset7.webp" />
      </div>
      <div class="">
        <h4>EASY TO CUSTOMIZE</h4>
        <p>
          Lorem ipsum dolor sit amt, consectet adop adipisicing elit, sed do
          eiusmod tepo raraincididunt ugt labore.
        </p>
      </div>
    </div>
  </div>
</section>
