#service-images {
    justify-content: center;
    align-items: center;
    padding: 120px 0px;

    .service {
        text-align: center;
        width: 70%;

        .box-icon{ 
            height: 160px;
        }
    }
}