<section class="section-padding">
  <div class="container">
    <div class="d-flex row"></div>
    <div class="d-flex row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <mat-card>
          <img src="/assets/images/asset15.webp" />
          <div>
            <div class="text">
              <h3>Jeremy Sedonce</h3>
              <p>Founder</p>
            </div>
            <div class="d-flex social-icons">
              <ul class="d-flex icons">
                <li><mat-icon color="accent" svgIcon="facebook"></mat-icon></li>
                <li><mat-icon color="accent" svgIcon="twitter"></mat-icon></li>
                <li><mat-icon color="accent" svgIcon="linkedIn"></mat-icon></li>
                <li><mat-icon color="accent" svgIcon="github"></mat-icon></li>
              </ul>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <mat-card>
          <img src="/assets/images/asset16.webp" />
          <div>
            <div class="text">
              <h3>Harry Banks</h3>
              <p>Co. Founder</p>
            </div>
            <div class="d-flex social-icons">
              <ul class="d-flex icons">
                <li><mat-icon color="accent" svgIcon="facebook"></mat-icon></li>
                <li><mat-icon color="accent" svgIcon="twitter"></mat-icon></li>
                <li><mat-icon color="accent" svgIcon="linkedIn"></mat-icon></li>
                <li><mat-icon color="accent" svgIcon="github"></mat-icon></li>
              </ul>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <mat-card>
          <img src="/assets/images/asset17.webp" />
          <div>
            <div class="text">
              <h3>Victoria Clark</h3>
              <p>Creative Director</p>
            </div>
            <div class="d-flex social-icons">
              <ul class="d-flex icons">
                <li><mat-icon color="accent" svgIcon="facebook"></mat-icon></li>
                <li><mat-icon color="accent" svgIcon="twitter"></mat-icon></li>
                <li><mat-icon color="accent" svgIcon="linkedIn"></mat-icon></li>
                <li><mat-icon color="accent" svgIcon="github"></mat-icon></li>
              </ul>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <mat-card>
          <img src="/assets/images/asset18.png" />
          <div>
            <div class="text">
              <h3>Jack Brown</h3>
              <p>Head UX Designer</p>
            </div>
            <div class="d-flex social-icons">
              <ul class="d-flex icons">
                <li><mat-icon color="accent" svgIcon="facebook"></mat-icon></li>
                <li><mat-icon color="accent" svgIcon="twitter"></mat-icon></li>
                <li><mat-icon color="accent" svgIcon="linkedIn"></mat-icon></li>
                <li><mat-icon color="accent" svgIcon="github"></mat-icon></li>
              </ul>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</section>
