mat-toolbar {
  display: flex;
  justify-content: space-around;

  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;

    a {
      text-decoration: none;
      color: #fff;
      font-size: 13px;
      padding-right: 30px;
      margin: 0;
    }

    a:hover {
      color: #708090;
    }
  }
}

footer {
  color: #fff;
  background: linear-gradient(to bottom, #75cbe7 0%, #138fc2 100%);

  #absolute-footer {
    background-image: url('/assets/images/asset4-.webp');

    .footer-top {
        margin-bottom: 150px;

      .container {
        flex-direction: column;
        justify-content: center;

        .text {
          text-align: center;
        }

        .box {
          justify-content: space-around;

          .contact-specific-info {
            flex-direction: column;
            justify-content: space-around;

            .side-icon-box {
              text-align: left;

              .contact-medium-details {
                h3 {
                  margin: 0px 0px 10px;
                }
              }
            }
          }

          .contact-form {
            flex-direction: column;
            justify-content: center;

            .input-textarea {
              flex-direction: column;
            }

            button {
              width: 140px;
              height: 43px;
              font-size: 18px;
            }
          }
        }
      }
    }

    .footer-middle {
        margin-bottom: 60px;
        // flex-wrap: wrap;

        .middle-footer-text {
            justify-content: center;
        }

        .social-icons {
            justify-content: center;;

            .icons {
                justify-content: center;
                list-style: none;
                li {
                    margin: 0 3px;
                }
            }
        }
    }

    .footer-bottom {

    }
  }
}
