#showcase {
  background-image: url('/assets/images/asset39.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 900px;
  justify-content: center;

  .showcase-text {
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    p {
      width: 60%;
    }
  }
}
