<header id="showcase" class="d-flex overlay">
  <div class="d-flex showcase-text width">
    <h1>It’s all about Promoting your Business</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero ex
      inventore vel error quibusdam animi fugiat, doloribus dolores consectetur
      nulla deleniti sint blanditiis quod debitis quis vitae officiis tempora
      numquam.
    </p>
    <button mat-raised-button class="button-size btn-opacity">Watch Video</button>
  </div>
</header>
