<section class="section-padding sky-bg text-color-wht">
  <div class="container">
    <div class="row">
      <div class="col heading pad">
        <h2>What Client's are Saying</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
          voluptates, temporibus at, facere harum fugiat!
        </p>
      </div>
    </div>
    <div class="d-flex row">
      <div class="col-md heading">
        <img src="/assets/images/asset19.webp" />
        <div class="text">
          <h2>A Company Ceo</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel vero
            dolore officiis, velit id libero illum harum hic magni, quae
            repellendus adipisci possimus saepe nostrum doloribus repudiandae
            asperiores commodi voluptate.
          </p>
        </div>
      </div>
      <div class="col-md heading">
        <img src="/assets/images/asset22.webp" />
        <div class="text">
          <h2>A FreeLancer</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel vero
            dolore officiis, velit id libero illum harum hic magni, quae
            repellendus adipisci possimus saepe nostrum doloribus repudiandae
            asperiores commodi voluptate.
          </p>
        </div>
      </div>
      <div class="col-md heading">
        <img src="/assets/images/asset21.webp" />
        <div class="text">
          <h2>A Marketing Director</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel vero
            dolore officiis, velit id libero illum harum hic magni, quae
            repellendus adipisci possimus saepe nostrum doloribus repudiandae
            asperiores commodi voluptate.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
